
<div class="student-form">
    
      
    <form [formGroup]="studentForm" (ngSubmit)="onSave()">
        <div class="row">    
        <div class="col-md-6">
          <div>
            <label><strong>Gender:</strong> </label>
        
            <select (change)="selectGender($event)">
                <option *ngFor="let item of genderList" [value]="item.gender" >{{item.gender}}</option>
              
            </select>
        </div>
         
          </div>
          <div class="col-md-6">
            <div>
              <label><strong>Highest Qualification:</strong> </label>
          
              <select (change)="selectQualification($event)">
                <option *ngFor="let item of qualificationList" [value]="item.qf">{{item.qf}}</option>
              </select>
          </div>
           
          </div>
        </div> 
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-primary" (click)="goBack()">Back<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg></button>
            <button type="submit" class="btn btn-primary" (click)="goToNext()">Next<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></button>
        </div>
      
    </form>
  
</div>