
<div class="student-form">
    
    <form [formGroup]="studentForm" (ngSubmit)="onSave()">
        <h2 class="text-center">Student Details</h2>       
        <div class="form-group">
          <input placeholder="Student Name" class="form-control" name="studentName" formControlName="studentName" required>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Roll No" formControlName="rollNo" name="rollNo" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Address" formControlName="address" name="address" required>
          </div>
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary " >Save</button>
            <button type="submit" class="btn btn-primary" (click)="goToNext()">Next<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></button>
        </div>
      
    </form>
  
</div>
